sudo: required
service:
  - docker

before_install:
  - docker build -t a2ron44/react_test -f ./client/Dockerfile.dev ./client

script:
  - docker run -e CI=true a2ron44/react_test npm test

after_success:
  - docker build -t a2ron44/multi-client ./client
  - docker build -t a2ron44/mutil-nginx ./nginx
  - docker build -t a2ron44/multi-server ./server
  - docker build -t a2ron44/mutli-worker ./worker
  #login to docker cli
  - echo "$DOCKER_PASSWORD" | docker login -u "$DOCKER_ID" --password-stdin
  #push to docker hub
  - docker push a2ron44/mutli-client
  - docker push a2ron44/mutli-nginx
  - docker push a2ron44/mutli-server
  - docker push a2ron44/mutli-worker
